body {
    margin: 0;
    padding: 0;
    background-image: url('banche1.jpg');
    background-size: cover;
    font-family: sans-serif;
    height: 557px;
}

.btnsubmit17 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit17:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit18 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit18:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit19 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit19:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit20 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit20:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit21 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit21:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit22 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit22:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit23 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit23:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit24 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit24:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit25 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit25:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit26 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit26:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit27 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit27:hover {
        background-color: rgb(0, 255, 255);
    }
