body {
    margin: 0;
    padding: 0;
    background-image: url('banche1.jpg');
    background-size: cover;
    font-family: sans-serif;
    height: 20px;
}

.btnsubmit28 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit28:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit29 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit29:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit30 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit30:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit31 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit31:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit32 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit32:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit33 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit33:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit34 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit34:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit35 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit35:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit36 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit36:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit37 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit37:hover {
        background-color: rgb(0, 255, 255);
    }

.btnsubmit38 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    font-size: 16px;
    color: #fff;
    background-color: rgb(153, 153, 153);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .btnsubmit38:hover {
        background-color: rgb(0, 255, 255);
    }
